
* ,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'open sans' , sans-serif;
}
body  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

header .logo{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}
.tabs input{
    visibility: hidden;
    display: none;
}
#buttons{
    position: relative;
    display: flex;
    background: #008069;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
#buttons label{
    width: 33.33%;
    color: #fff;
    opacity: 0.75;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
}

.underline{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 33.33%;
    height: 3px;
    background: #fff;
}




header{
    position: relative;
    background: #008069;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    align-items: center;
    /* width: 90%; */
    padding: 0 1rem;
    margin: 1rem auto;
    /* max-width: 40rem; */
    

}

.inner {
    display: flex;
    justify-content: space-between;


}

.outer {
    width: 100%;
}







img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

